doctype html

html
    include ./head.pug
  
    body
        .wrapper
            .header
                .header__login
                    .avatar
                    .info 
                        div Быстров Борис Викторович
                        div bystrov@gmail.com
                .header__contacts
                    div
                        ul.socialbut 
                            each link, name in {GITHUB:"http://www.github.com", SKYPE:"http://www.skype.com", VK:"http://www.vk.com"}
                                li
                                    a.button(class= name href=link)
            .content
                .content__top
                    .content__top__wrapper
                        .content__top__wrapper__header
                            h1 О будущем ученике
                            p Ребятам из Loftschool будет полезно узнать немного обо мне
                .content__bottom
                    
                
            .footer
                .footer__text
                    p А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.
            