@font-face {
  font-family: "Medium";
  font-weight: 100;
  src: url("./fonts/FiraSansMedium.ttf") format("TrueType");
}

@font-face {
  font-family: "Regular";
  src: url("./fonts/FiraSansRegular.ttf") format("TrueType");
}

@font-face {
  font-family: "Light";
  src: url("./fonts/FiraSansLight.ttf") format("TrueType");
}
