@font-face {
  font-family: "Medium";
  src: url("./fonts/FiraSansMedium.ttf") format("TrueType");
}

@font-face {
  font-family: "Regular";
  src: url("./fonts/FiraSansRegular.ttf") format("TrueType");
}
