@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Light";
  font-size: 14px;
  line-height: 1.5;
}

h1 {
  font-family: "Medium";
}

h2 {
  font-family: "Regular";
  font-size: 21px;
  margin-bottom: 15px;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  height: 10vh;
  min-height: 90px;
  background-color: #8cc34b;
  clear: both;
  box-shadow: 0px 0px 30px 0px #7a7a83;
}

.header__login {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
}

.header__contacts {
  height: 100%;
  width: 50%;
  float: right;
}

.avatar {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 30px;
  background: {
    image: url("./img/avatar.jpg");
    size: cover;
    position: center center;
  }
}

.info {
  margin-left: 15px;
  height: 50%;
  display: flex;
  flex-direction: column;
  div {
    height: 50%;
    color: white;
  }
  :nth-child(1) {
    font-size: 21px;
    font-family: "Medium";
  }
  :nth-child(2) {
    margin-top: 5px;
    font-size: 14px;
    font-family: "Regular";
    opacity: 0.7;
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialbut {
  list-style-type: none;
  float: right;
}

li {
  display: inline-block;
  margin-right: 25px;
}

.button {
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.GITHUB {
  content: url("./img/git2.png");
}

.SKYPE {
  content: url("./img/sk.png");
}

.VK {
  content: url("./img/vk.png");
  padding-bottom: 5px;
}

.content {
  min-height: 80vh;
  flex-grow: 5;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  min-height: 70px;
  background-color: #212121;
}

.footer__text {
  max-width: 520px;
  p {
    text-align: center;
    color: white;
    opacity: 0.5;
    font-family: "Regular";
    font-size: 14px;
  }
}

.content__top,
.content__bottom {
  display: flex;
  justify-content: center;
}

.content__top {
  margin-bottom: 40px;
}

.content__top__wrapper,
.content__bottom__wrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.content__top__wrapper__header,
.content__bottom__wrapper__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 40px;
  h1 {
    font-family: "Medium";
    font-size: 42px;
    font-weight: 200;
  }
  p {
    font-family: "Light";
    font-size: 21px;
    color: #727272;
  }
}

.content__top__wrapper__about {
  display: flex;
  width: 80vw;
}

.content__top__wrapper__about__aboutMe,
.content__top__wrapper__about__expirience {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}

.content__top__wrapper__about__aboutMe__wrapper__pic {
  content: url("./img/hello.png");
}

.content__top__wrapper__about__expirience__wrapper__pic {
  content: url("./img/experience.png");
}

.content__top__wrapper__about__aboutMe__text,
.content__top__wrapper__about_expirience__text {
  width: 283px;
}

.content__bottom {
  background-image: url("./img/background.png");
  width: 100vw;
}

.course,
.course__trans {
  position: relative;
  width: 300px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px grey;
  :hover {
    cursor: pointer;
  }
}

.course__trans {
  height: 100%;
  position: absolute;
  opacity: 0;
}

.course__img {
  width: 100%;
  height: 170px;
  background-image: url("./img/js.png");
}

.course__hoverDiv {
  display: none;
  position: absolute;
  z-index: 100;
  height: 5px;
  width: 300px;
  background-color: #8cc34b;
}

.course__wrapper {
  padding: 15px 0px;
}

.course__wrapper__text,
.course__duration {
  margin: 0px 20px;
}
.course__duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b6b6b6;
  margin-bottom: 20px;
}

.course__duration__img {
  float: left;
  width: 10px;
  height: 10px;
  background-image: url("./img/clock.svg");
  margin-right: 5px;
  opacity: 0.5;
}

.course__check {
  height: 55px;
  background-color: #f6f7f2;
  display: flex;
  align-items: center;
  h2 {
    font-size: 18px;
    color: #727272;
    font-weight: 300;
    margin-bottom: 0px;
  }
}

.course__check__box {
  width: 15px;
  height: 15px;
  border: 2px solid #b6b6b6;
  border-radius: 15%;
  margin: 0px 20px;
}
